@model IEnumerable<Comp2084_Assignment2.Models.console>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consoles List</h2>

@if (User.Identity.IsAuthenticated)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bio_link)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bio_link)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id })
            @if (User.Identity.IsAuthenticated)
            {
                <br />
            @Html.ActionLink("Edit", "Edit", new { id=item.id })
                <br />
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
            }
        </td>
    </tr>
}

</table>
